// @import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playwrite+HU:wght@100..400&display=swap");
// @import "@/scss/common/null.scss";

// @import "@/scss/custom/radio.scss";

* {
  box-sizing: border-box;
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  //font-family: "Playwrite HU", cursive;
  font-family: "DM Sans", sans-serif;
  //font-family: "Lato", sans-serif;
  font-weight: 400;
  background-color: var(--navy);
  color: var(--slate);
  max-width: 100%;
  overflow: auto;
}

.container {
  // outline: 1px solid #4164ff;
  // max-width: 1200px;
  // width: 100% !important;
  max-width: 100% !important;
  margin: 0 10px !important;
  position: relative;
}

// @media (min-width: 768px) and (max-width: 1259px) {
//   .container {
//     max-width: calc(100% - 140px) !important;
//   }
// }

// @media (max-width: 767px) {
//   .container {
//     max-width: calc(100% - 20px) !important;
//   }
// }

:focus-visible {
  outline: 2px #a585f9 solid;
  transition: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--lightest-slate);
  white-space: nowrap;
  line-height: 1;
}

h1 {
  font-weight: var(--fw-headings);
  font-size: var(--font-size-h1);
  letter-spacing: var(--ls-headings);
}

h2 {
  font-weight: var(--fw-headings);
  font-size: var(--font-size-h2);
  // color: var(--headings-color);
  letter-spacing: var(--ls-headings);
}

h3 {
  font-weight: var(--fw-headings);
  font-size: var(--font-size-h3);
  letter-spacing: var(--ls-headings);
}

h4 {
  font-weight: var(--fw-headings);
  font-size: var(--font-size-h4);
  // color: var(--headings-color);
  letter-spacing: var(--ls-headings);
}

h5 {
  font-weight: var(--fw-headings);
  font-size: var(--font-size-h5);
  // color: var(--headings-color);
  letter-spacing: var(--ls-headings);
}

p {
  font-size: var(--font-size-medium);
  font-weight: var(--fw-p);
  line-height: 1;
}

code {
  color: var(--primary);
  border: 1px var(--grey-30) solid;
  background: var(--grey-10);
  padding: 1px var(--token-04);
  border-radius: var(--token-08);
  font-size: var(--font-size-regular);
  font-weight: 500;
  font-family: var(--font-roboto-mono);
}

a {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  // text-underline-offset: 2px;
  text-decoration-color: var(--grey-30);
  transition: 0.25s;
  cursor: pointer;
}

a:hover {
  opacity: 0.75;
}

pre * {
  font-family: var(--font-roboto-mono);
  font-weight: 400;
}

.rootLayout {
  padding: var(--token-02) var(--token-04) var(--token-64) var(--token-04);
  margin: 0 var(--token-20);
  // max-width: var(--max-width);
}

.container {
  width: auto;
}

.rel {
  position: relative;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgs {
  overflow: hidden;
  position: relative;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.imgs img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

a,
input,
select,
textarea,
span {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.btn {
  border-radius: var(--token-08);
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 0px 0px 3px 2px rgba(1, 111, 161, 0.67);
  }
}
/* b {
  font-size: 16px;
  color:  #ffffff;
  font-weight: 500;
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  transition: all 100ms ease-in-out;
  box-shadow: 0 1px 2px rgba(15, 23, 42, 0.08);
  border: 1px solid #4d6a92;
  &:hover {
    border: 1px solid #8892b0;
  }
  &:active {
    transform: translateY(1px);
  }
} */
.btn-primary {
  background-color: var(--primary);
  color: var(--grey-00);
  border: 1px solid var(--primary);
  padding: 0 5px;
  &:hover {
    border: 1px solid #8892b0;
    background-color: var(--slate);
  }
  &:active {
    transform: translateY(1px);
    background-color: #64ffda;
  }
}

.btn-allert {
  background-color: red;
  color: var(--grey-00);
  border: 1px solid var(--primary);
  padding: 0 5px;
  &:active {
    transform: translateY(1px);
    background-color: rgb(255, 0, 0, 0.8);
  }
}

.btn-empty {
  border: 1px solid var(--primary);
  display: inline-block;
  &:active {
    transform: translateY(1px);
    background-color: #64ffda;
  }
}

.btn-teal {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: all 150ms ease-in-out;
  box-shadow: 0 1px 2px rgba(15, 23, 42, 0.08);
  border: 1px solid transparent;
  background-color: var(--slate-02);

  &:hover {
    border-color: var(--teal);
    color: var(--teal);
    background-color: var(--teal-light);
  }
  &:active {
    transform: translateY(1px);
    background-color: #64ffda;
  }
}

.project-item {
  gap: 0.5rem;
  width: 100%;
  border-radius: 0.25rem;
  position: relative;
  padding: 0.25rem;
  border: 1px solid var(--slate-900);
  background-color: var(--slate-500);
  cursor: pointer;
  color: white;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-item:hover {
  background-color: var(--slate-600);
  border-color: #0d9488;
  color: #5eead4;
}

button {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

ul,
li {
  list-style-type: none;
}

// =====================
@media (max-width: 900px) {
  .rootLayout {
    padding: var(--token-64) var(--token-24) var(--token-64) var(--token-24);
  }
}

// ---------------------------------
.checkClasses {
  // .form-check {
  //   min-height: 30px;
  // }
  position: relative;

  input[type="radio"]:checked,
  input[type="radio"]:not(:checked) {
    position: fixed !important;
    left: -9999px !important;
    height: 0px;
    width: 0px;
  }

  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    opacity: 1;
    line-height: 19px;
    padding: 0 0 0 26px;
    transition: all 0.2s;
    color: var(--blue-50);

    &:hover {
      color: color-mix(in srgb, var(--blue-50) 70%, white);
    }
  }

  input[type="radio"]:checked + label::before,
  input[type="radio"]:not(:checked) + label::before {
    content: "";
    position: absolute;
    left: 0px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    background-color: transparent !important;
    transition: all 0.3s;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: solid 2px #cfd4da;
  }

  input[type="radio"]:checked + label::after,
  input[type="radio"]:not(:checked) + label::after {
    content: "";
    position: absolute !important;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    top: 50%;
    left: 4px;
    transform: translate(1%, -50%);
    border: solid 2px var(--blue-100);
    background-color: var(--blue-100);
    transition: all 0.3s;
  }

  input[type="radio"]:checked + label::after {
    opacity: 1;
  }

  input[type="radio"]:not(:checked) + label::after {
    opacity: 0;
  }
}

._isActive {
  box-shadow: 0px 0px 10px 0px blue;
  background-color: #7e4d92;
}

@keyframes spin-fast {
  to {
    transform: rotate(360deg);
  }
}

.spin-fast {
  animation: spin-fast 0.4s linear infinite;
}

.tag-scale-pulse {
  animation: tag-scale-pulse 0.5s ease-in-out infinite;
}

@keyframes tag-scale-pulse {
  0% {
    transform: scale(1);
    background-color: red;
    opacity: 0.3;
  }
  50% {
    opacity: 1;
    background-color: red;
    transform: scale(1.01); /* чуть увеличился */
  }
  100% {
    opacity: 0.3;
    background-color: red;
    transform: scale(1);
  }
}
