.textarea-styles {
  /* height: 100% !important; */
  width: 100% !important;
  padding: 10px !important;
  resize: none !important;
  overflow: hidden;
  background: #e2e8f098;
  border: 1px solid #e2e8f0;
  // min-height: 2rem;
  transition: all 0.2s;
  border-radius: 4px;
  min-height: 20px;
  font-size: 14px;
  white-space: pre-wrap; // КЛЮЧЕВОЕ: сохраняет \n как переносы

  &:focus {
    border-color: #007bff !important;
  }
}

.placeholder {
  /* pointer-events: none; */
  // outline: 1px dashed #105fd4;
  // outline: 1px dashed rgb(6, 77, 185);
  background: repeating-linear-gradient(
    45deg,
    black,
    black 4px,
    yellow 4px,
    yellow 8px
  );
  min-height: 10px;
  min-width: 10px;
  opacity: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1000000;
}

.card {
  min-width: 30px !important;
  min-height: 10px !important;
  /* max-width: max-content !important; */
  // max-height: 150px !important;
  background: rgb(236, 236, 236);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px,
    rgba(0, 0, 0, 0.1) 0px -4px 6px,
    rgba(0, 0, 0, 0.1) 4px 0px 6px,
    rgba(0, 0, 0, 0.1) -4px 0px 6px !important;
  margin: 10px;
  color: black;
  cursor: pointer;
  /* cursor:
    url(/svg/red-dot.svg) 5 5,
    auto !important; */
  img {
    max-height: 50px !important;
  }
}

.nextafterButton {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  z-index: -1;
  background: gray;
  color: white;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  left: 0;
  top: 0;
  transform: translateY(-35px);
  white-space: nowrap;
}

.prev:hover ~ .nextafterButton {
  transform: translateY(-40px);
  opacity: 1;
  z-index: 100;
}

#plaza-render-area {
  position: relative;
  .card:first-child {
    margin: 0 0 0 0 !important;
  }
}
.baza {
  min-height: 20px;
  padding: 10px 0;
  margin: 0 0 0 0;
  color: var(--teal) !important;
  background: var(--slate-500) !important;
  outline: 2px solid var(--slate) !important;
}
.layer-3d {
  /* Имитация 3D слоев через наклон и смещение */
  transform: perspective(600px) rotateX(16deg) translateZ(var(--z, 0px))
    scale(calc(1 - var(--depth, 0) * 0.08));
  box-shadow: 0 0 24px 2px rgba(60, 80, 200, 0.16);
  background: rgba(180, 210, 250, 0.08);
  border: 2px solid #b2bff7;
  transition:
    transform 0.25s,
    box-shadow 0.2s;
  will-change: transform;
}
.renderedNode {
  min-width: 30px !important;
  min-height: 10px !important;
  background: var(--white);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px,
    rgba(0, 0, 0, 0.1) 0px -4px 6px,
    rgba(0, 0, 0, 0.1) 4px 0px 6px,
    rgba(0, 0, 0, 0.1) -4px 0px 6px !important;
  margin: 5px;
  padding: 5px;
  color: black;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  transition: all 0.2s ease-in-out;
  img {
    max-height: 50px !important;
  }
}
