.textarea-styles {
  /* height: 100% !important; */
  width: 100% !important;
  padding: 10px !important;
  resize: none !important;
  overflow: hidden;
  background: #e2e8f098;
  border: 1px solid #e2e8f0;
  transition: all 0.2s;
  border-radius: 4px;
  min-height: 20px;
  font-size: 14px;
  white-space: pre-wrap; // КЛЮЧЕВОЕ: сохраняет \n как переносы

  &:focus {
    border-color: #007bff !important;
  }
}

/*.card {
  min-width: 30px !important;
  min-height: 10px !important;
  background: rgb(236, 236, 236);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px,
    rgba(0, 0, 0, 0.1) 0px -4px 6px,
    rgba(0, 0, 0, 0.1) 4px 0px 6px,
    rgba(0, 0, 0, 0.1) -4px 0px 6px !important;
  margin: 10px;
  color: black;
  cursor: pointer;
  cursor:
    url(/svg/red-dot.svg) 5 5,
    auto !important;
  img {
    max-height: 50px !important;
  }
} */
.adminButton {
  &:active {
    transform: translateY(1px);
    background-color: #64ffda !important;
  }
}
.nextafterButton {
  transition: all 0.2s ease-in-out;
  opacity: 0;
  position: absolute;
  z-index: -1;
  background: gray;
  color: white;
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  left: 0;
  top: 0;
  transform: translateY(-35px);
  white-space: nowrap;
}

.prev:hover ~ .nextafterButton {
  transform: translateY(-40px);
  opacity: 1;
  z-index: 100;
}

#plaza-render-area {
  position: relative;
  .card:first-child {
    margin: 0 0 0 0 !important;
  }
}

.layer-3d {
  /* Имитация 3D слоев через наклон и смещение */
  transform: perspective(600px) rotateX(16deg) translateZ(var(--z, 0px))
    scale(calc(1 - var(--depth, 0) * 0.08));
  box-shadow: 0 0 24px 2px rgba(60, 80, 200, 0.16);
  background: rgba(180, 210, 250, 0.08);
  border: 2px solid #b2bff7;
  transition:
    transform 0.25s,
    box-shadow 0.2s;
  will-change: transform;
}

.renderedNode {
  min-width: 30px !important;
  min-height: 25px !important;
  background: var(--white);
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px,
    rgba(0, 0, 0, 0.1) 0px -4px 6px,
    rgba(0, 0, 0, 0.1) 4px 0px 6px,
    rgba(0, 0, 0, 0.1) -4px 0px 6px !important;
  margin: 5px;
  padding: 5px;
  color: black;
  cursor: pointer;
  font-size: 12px;
  line-height: 1;
  transition: all 0.2s ease-in-out;
  img {
    max-height: 50px !important;
  }
  pointer-events: auto !important;
  position: relative;
  z-index: 1;
  &.container {
    margin: 5px !important;
  }
}

.baza {
  min-height: 20px;
  padding: 10px;
  margin: 0 0 0 0;
  color: var(--teal) !important;
  background: var(--slate-500) !important;
  outline: 2px solid var(--slate) !important;
}

img.renderedNode {
  pointer-events: auto !important;
  cursor: pointer;
  max-height: 50px !important;
  max-width: 50px !important;
}

/* .img-container {
  width: 60px;
  height: 80px;
  .imgs {
    width: 50px;
    height: 50px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 50px;
      height: 50px;
    }
  }
} */
