.modalmessage-inner {
  background-color: var(--teal-navi);
  border: 1px solid var(--teal);
  width: 100vw;
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
  z-index: 2000;
}

.modalmessage-message {
  color: var(--teal);
  font-style: italic;
  font-size: 18px;
  margin: 5px;
}