.modalmessage {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 4px;
}

.modalmessage-inner {
  background-color: rgb(90, 145, 247);
  width: 50vw;
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  padding: 15px;
}

.modalmessage-message {
  color: #f6f6f7;
  font-style: italic;
  font-size: 18px;
  margin: 5px;
}