// .input-field {
//   position: relative;
//   transition: all 0.2s;
//   min-height: 40px;
//   border-radius: 5px;
//   max-height: 80px;

// input[type="text"],
// input[type="email"],
// input[type="tel"],
// input[type="number"],
// input[type="date"],
// input[type="search"],
// input[type="password"],
// input[type="time"],
// input[type="number"] {
//   width: 100% !important;
//   height: 40px !important;
//   cursor: pointer;
//   position: relative;
//   background: rgba(245, 245, 245, 0);
//   transition: all 0.2s;
//   border: 1px solid rgb(173, 173, 173);
//   border-radius: 5px;
//   padding: 0px 10px 0px !important;
//   min-height: 40px;
//   z-index: 2;

//   &+label {
//     position: absolute !important;
//     top: 50%;
//     transform: translateY(-50%);
//     left: 10px;
//     transition: all 0.2s;
//     z-index: 1;
//     font-style: italic;
//     font-size: 14px;
//     background: #193756;
//     color: #51C9CD;
//     white-space: nowrap;
//     padding: 2px 3px;
//     line-height: 1;
//     border-radius: 4px;
//   }

//   &::placeholder {
//     opacity: 0;
//   }

//   &:hover {
//     border: 1px solid #007bff;
//   }

//   &:hover+label {
//     color: #007bff;
//   }

//   &:focus,
//   &:valid {

//     border: 1px solid #007bff !important;
//   }
// }

//   textarea {
//     height: 100%;
//     // min-height: 80px;
//     padding: 10px;
//     resize: none;

//     &+label {
//       transform: translateY(-150%);
//     }
//   }

//   input[type="text"],
//   input[type="email"],
//   input[type="number"],
//   input[type="date"],
//   input[type="password"],
//   input[type="time"],
//   input[type="search"],
//   input[type="number"],
//   input[type="tel"] {

//     &:focus+label,
//     &:valid+label {
//       top: 10%;
//       transform: translateY(-50%);
//       z-index: 5 !important;
//       left: 5px !important;
//       background: #193756 !important;
//       color: #51C9CD;
//       font-size: 12px !important;
//       white-space: nowrap;
//       padding: 2px 3px !important;
//       line-height: 1;
//       border-radius: 4px;
//       pointer-events: none;
//     }
//   }

//   textarea {

//     &:focus+label,
//     &:valid+label {
//       font-size: 12px !important;
//       top: 0%;
//       border-radius: 5px;
//       transform: translateY(-50%) !important;
//       z-index: 5 !important;
//       left: 5px !important;
//       background: #193756 !important;
//       color: #51C9CD;
//       white-space: nowrap;
//       padding: 2px 3px !important;
//       line-height: 1;
//       border-radius: 4px;
//       pointer-events: none;
//     }
//   }

//   input[type="number"] {
//     -moz-appearance: textfield;
//   }

//   input[type="number"]::-webkit-outer-spin-button,
//   input[type="number"]::-webkit-inner-spin-button {
//     -webkit-appearance: none;
//     margin: 0;
//   }

//   // input[type="number"]:focus,
//   // input[type="number"]:valid {
//   //   border: 1px solid grey !important;
//   // }
// }

.no-search-cancel::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

.input-field {
  position: relative;
  transition: all 0.2s;
  min-height: 40px;
  border-radius: 5px;
  max-height: 80px;

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="date"],
  input[type="search"],
  input[type="password"],
  input[type="time"],
  input[type="number"] {
    width: 100% !important;
    height: 40px !important;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
    padding: 0px 10px 0px !important;
    min-height: 40px;
    z-index: 2;

    & + label {
      position: absolute !important;
      pointer-events: none !important;
      top: 50%;
      transform: translateY(-50%);
      left: 10px !important;
      transition: all 0.2s;
      font-size: 12px;
      color: white;
      &::after {
        position: absolute !important;
        top: 50% !important;
        left: 10px !important;
        transform: translateY(-50%) !important;
        box-shadow:
          -3px 0 0 #fff,
          3px 0 0 #fff !important;
      }
    }
    &.modalInput {
      & + label {
        color: #193756 !important;
      }
    }

    &::placeholder {
      opacity: 0;
    }

    &:hover + label {
      color: var(--teal);
    }

    &:focus,
    &:valid {
      border: 2px solid var(--teal) !important;
    }
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="date"],
  input[type="password"],
  input[type="time"],
  input[type="search"],
  input[type="number"],
  input[type="tel"] {
    & + label {
      background: transparent !important;
      font-size: 12px;
      white-space: nowrap;
    }

    &:focus + label,
    &:valid + label {
      top: 16% !important;
      z-index: 10;
      left: 10px !important;

      &::after {
        font-size: 12px !important;
      }
    }
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &--ui {
    // background-color: antiquewhite !important;

    input[type="text"],
    input[type="email"],
    input[type="number"],
    input[type="date"],
    input[type="password"],
    input[type="time"],
    input[type="search"],
    input[type="number"],
    input[type="tel"] {
      background: var(--slate-100) !important;
      & + label {
        padding: 2px 3px;
        line-height: 1;
        border-radius: 4px;
        font-family: var(--font-inter);
        font-size: 12px;
        font-weight: 400;
        border-radius: 4px;
        color: var(--navy);
        z-index: 2;
      }
      &:focus-visible,
      &:focus,
      &:valid,
      &:hover {
        background-color: var(--slate-300) !important;
        & + label {
          color: var(--teal);
          top: -5% !important;
          font-family: var(--font-inter);
          z-index: 2;
          left: 10px !important;
          font-size: 12px;
          font-weight: 400;
          background-color: white !important;
          &::after {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}
